h1{
  font-family: "Garamond", "Times New Roman", "Arial";
  text-decoration-line: underline;
  text-decoration-style: wavy;  
  text-align: center;
  font-weight: bold;
}

#task-form{
margin-bottom: 30px;
}
  

li{
list-style-type: circle;
font-family: "Garamond", "Times New Roman", "Arial";
border-bottom: 1px solid; 
margin-bottom: 20px;
}

.LEFTSIDE{
  background-color:#A0D585;
 
}

.RIGHTSIDE{
  background-color:#A0D585;

}
.MAINSIDE{
  background-color:#EEFABD;
  
}

html {
  height: 100%;  
  margin: 0;    
}


body {
  height: 100%;  
  margin: 0;  
}


.container-fluid {
  height: 100%;  
}

.row {
  height: 100%;  
}
