h1{
  font-family: "Garamond", "Times New Roman", "Arial";
  text-decoration-line: underline;
  text-decoration-style: wavy;  
  text-align: center;
}

.LEFTSIDE{
  background-color:A0D585;
}

.RIGHTSIDE{
  background-color:A0D585;
}
.MAINSIDE{
  background-color:EEFABD;
}
