      #menu {
            list-style-type: none;
            padding: 20;
            margin: 0;
            text-align:center;
            background-color:#e8dac3;
      }
      
      #menu li {
            display: inline;
            margin-right: 30px;
            border:none;
      }
      
      #menu li a {
            text-decoration: none;
            color: black;
            font-size:20px;
            font-family:"Garamond","Georgia","Times New Roman";
      }

      h2 {
            background-color:#e8dac3;
            text-align:center;
            font-family:"Garamond","Georgia","Times New Roman";
      }


      .separator {
            background-image: url('images/polkadots.png'); 
            background-size: cover;
            background-repeat: no-repeat;   
            background-position: center top;
            height: 70px;                    
            width: 100%;   
            margin-top:10px;
            margin-bottom:10px;
      }

     
      #skills {
        width: 80%;          
        margin: 20px auto;   
        font-family:"Garamond","Georgia","Times New Roman";
      }
      
      #skills table {
        width: 100%;
        border-collapse: collapse; 
      }
      
      #skills th {
        background-color: #112338; 
            color:white;
        padding: 8px;
        text-align: left;
      }
      
     
      #skills td {
        padding: 8px;
        border: 1px solid #ccc; 
      }
      
      #skills tr:nth-child(even) {
        background-color: #203042;
      }
      #skills tr:nth-child(odd) {
        background-color: #304052;
      }
