      #menu {
            list-style-type: none;
            padding: 20;
            margin: 0;
            text-align:center;
            background-color:#e8dac3;
      }
      
      #menu li {
            display: inline;
            margin-right: 30px;
            border:none;
      }
      
      #menu li a {
            text-decoration: none;
            color: black;
            font-size:20px;
            font-family:"Garamond","Georgia","Times New Roman";
      }
/* -----------------------------------*/
      h2 {
            background-color:#e8dac3;
            text-align:center;
            font-family:"Garamond","Georgia","Times New Roman";
            width: 100%
      }


      .separator {
            background-image: url('images/polkadots.png'); 
            background-size: cover;
            background-repeat: no-repeat;   
            background-position: center top;
            height: 70px;                    
            width: 100%;   
            margin-top:10px;
            margin-bottom:10px;
      }
/*-----------------------------------------*/

      #education {
      display: flex;       
      gap: 30px;
      max-width: 900px;
      margin: 40px auto;
      flex-wrap: wrap;     
      }
      #summary{
      flex: 1;                             
      padding: 20px;
      border-radius: 12px;
      font-family: "Garamond","Georgia","Times New Roman";
      color: white;
      box-sizing: border-box;
      background-color: #7a614b;
      }

      #edu {
      flex: 1;                             
      padding: 20px;
      border-radius: 12px;
      font-family: "Garamond","Georgia","Times New Roman";
      color: white;
      box-sizing: border-box;
      background-color: #806b59;
      }


/*------------------------------------*/

.work-data {
      max-width: 800px;
      margin: 40px auto;
      padding: 20px;
      background-color: #414f63;
      color: white;
      border-radius: 12px;
      font-family: "Garamond","Georgia","Times New Roman";
}

.work-data ul {
      list-style-position: inside;
      padding: 0;
}

.work-data li {
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 1.4;
}


/* -------------------------------------*/
      #skills {
        width: 100%;          
        margin: 20px auto;   
        font-family:"Garamond","Georgia","Times New Roman";
      }
      
      #skills table {
        width: 700px;
        border-collapse: collapse; 
      margin: 0 auto;
      }
      
      #skills th {
        background-color: #a84c3e; 
            color:white;
        padding: 8px;
        text-align: left;
      }
      
     
      #skills td {
        padding: 8px;
        border: 1px solid #ccc; 
      }
      
      #skills tr {
        background-color: #a85e52;
            color:white;
      }
/*----------------------------*/

.interests-data {
      max-width: 800px;
      margin: 40px auto;
      padding: 20px;
      background-color: #497034;
      color: white;
      border-radius: 12px;
      font-family: "Garamond","Georgia","Times New Roman";
}

.interests-data ul {
      list-style-position: inside;
      padding: 0;
}

.interests-data li {
      margin-bottom: 12px;
      font-size: 18px;
      line-height: 1.4;
}

/* ----------------------- */
#favs {
      max-width:100%;
      margin:40px auto;
      padding:0px;
}

#favs h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      font-family:"Garamond","Georgia","Times New Roman";
}

.fav-item {
      width: 800px;
      display: flex;
      margin: 0 auto 30px auto;
      align-items: center;
      gap: 25px;
      padding: 20px;
      background-color: #8c748a;
      border-radius: 12px;

}

.fav-item p {
      width: 250px;
      font-size: 15;
      font-family:"Garamond","Georgia","Times New Roman";
      color: white;
      text-align: center;
}

.fav-item iframe {
      width: 500px;
      max-width: 100%;
      height: 280px;
      border-radius: 10px;
      border-style: dotted;
      border-color: #e8dac3;
}

