      #menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
      text-align:center;
      background-color:#e8dac3;
      }
      
      #menu li {
        display: inline;
        margin-right: 15px;
      }
      
      #menu li a {
      text-decoration: none;
      color: black;
      font-size:20;
      font-family:"Garamond","Georgia","Times New Roman";
      }
